.Recomended-btns {
    display: flex;
    margin-left: 20rem;

}
.recomended-title{
    margin-left: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
}

/* .btns{
    padding: 10px 20px;
    margin-right: 6px;
    font-family: Avenir;
    background: transparent;
    border: none;
    border: 0.6px solid #ccc;
    border-radius: 6px;
    color: #5b5b5b;
    cursor: pointer;
} */

.btns {
    border: 2px solid currentColor;
    margin-right: 7px;
    border-radius: 3rem;
    color: rgb(17, 17, 13);
    font-family: 'roboto', sans-serif; /* Use proper font format */
    font-size: 15px;
    font-weight: 100;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
  }
  .btns:hover::after {
    transform: translate(0, 0);
  }
  
  .btns:hover {
    border: 2px solid transparent;
    color: indigo;
    transform: scale(1.05);
    will-change: transform;
  }
  